
span{
    color: red;
}
body{
    background-color: black;
}

.container {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
  }
  
  .container form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
  }
  
  .container label {
    margin-bottom: 10px;
  }
  
  .container input, .container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .container button {
   
    padding: 20px;
    background-color:rgb(212, 174, 23);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    width: 100px;
    font-size: 18px;
  }
  .button-container{
    text-align: center;
  }
  
  